---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Custom variables
$darken: #777;
$green: #00E68A;
$blue: #008AE6;
$red: #C94D4D;
$yellow: #FFFF7E;
$purple: #C45CC4;
$orange: #FFAD33;

$top: 4em; // padding on top of the containers
$dim: 6em; // the dimensions of the picture
$bgsize: 80%;
$font-size: 18px;
$footer-size: (0.75 * $font-size);


@mixin colouring($colour) {
  $darkened: ($colour - $darken);
  background-color: $colour;
  color: $darkened;
  a {
    text-decoration: none;
    color: ($darkened - #222);
    border-bottom: 1px solid $darkened;
    &:hover {
      border-bottom: 2px solid $darkened;
    }
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "normalize",
        "post",
        "posts",
        "styles",
        "syntax-highlighting"
;
