doctype html
//   hi there, source peeker.  I'll warn you that the source HTML looks disgusting, because it is a jade template rendered by node.js, and they don't pretty print the HTML they render. If you want to see where my actual work went, you can view the source of this website on my Github account. :)
html(lang='en')
  head
    title George Lifchits
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='stylesheets/normalize.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic')
    link(href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel="stylesheet")
    script(src='javascripts/ga.js')
  body
    #navbar
      ul
        a(href='#education')
          li Education
        a(href='#dev-skills')
          li Developer
        a(href='#biz-skills')
          li Business-person
        a(href='#resume')
          li Resume
        a(href='#contact')
          li Contact
    .alert
      .content
        button.close
          i.icon-remove
        .message This is a message
    .container
      header
        h1 George Lifchits
        h3 A hacker who means business.
      #education
        .picture
        p.
          I'm a student at Wilfrid Laurier University in Ontario, Canada. I'm in
          the business and computer science double degree program, with a co-op
          option. This means that I hope to graduate with two degrees &mdash; a
          Bachelor of Business Administration and a Bachelor's of Science in
          Computer Science &mdash; and I'm gaining work experience along the way!
      #dev-skills
        .picture
        p.
          I'm a skilled developer with substantial experience working on the
          full stack. I'm proficient in Python and am comfortable working with
          HTML, CSS, Javascript, SQL, C, Java, the command line, and whatever
          else you'd like to throw at me! In my spare time I like to take free
          online courses via Coursera and build webapps to get experience
          working with some new tech skill I haven't used before.
      #biz-skills
        .picture
        p.
          I have knowledge of the business world and a firm understanding of
          business logic. In school, I've completed a new venture project and
          done business cases. I have learned a ton of Excel, VBA, and
          understand decision modeling using Crystal Ball and Arena. I've also
          taken accounting classes, business law, and so forth.
      #resume
        .picture
        p.
          If you like, you can take a look at my resume below.
          <br/>(<a href="george-lifchits-resume.pdf">Click</a> for
          a PDF version to view in full screen).
        a.resume(href='george-lifchits-resume.pdf')
          img(src='images/resume.jpg')
      #contact
        .picture
        p.
          You can connect with me on:
        ul
          li
            i(class='fa fa-linkedin-square')
            a(href='http://ca.linkedin.com/in/georgelifchits/') LinkedIn
            |,
          li
            i(class='fa fa-github')
            a(href='https://github.com/glifchits') Github
            |,
          li
            i(class='fa fa-facebook-square')
            a(href='https://www.facebook.com/george.lifchits') Facebook
            |, or
          li
            i(class='fa fa-envelope')
            a(href='mailto:me@georgelifchits.ca') email
            |.
        p.
          Please contact me with employment opportunities, constructive feedback,
          YouTube videos of amazing bass players, or for any reason whatsoever!
          I love talking to people and would equally love to hear from you. Connect
          with me in the way you're most comfortable with.
      footer George Lifchits, 2014
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
      script(src='javascripts/jquery.autosize-min.js')
      script(src='javascripts/glifchits.js')
