doctype 5
html
  // hi there, curious person! Thanks for taking a look at the source
  // of my little webpage here. I hope you like it — this website
  // is served by node.js, using jade templating to render the HTML
  // and LESS stylesheets compiled to CSS! I've got the full
  // source on my GitHub, if you'd like to take a closer look!

  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic')

  body
    .container
      .header
        .left
          h1 George Lifchits
          h3 A hacker who means business.
        .right
          #my-picture
      .education
        .picture 
        p.
          I'm a student at Wilfrid Laurier University in Ontario,
          Canada. I'm in the business and computer science double
          degree program, with a co-op option. This means that I 
          hope to graduate with two degrees, a Bachelor of Business
          Administration and a Bachelor's of Science in Computer
          Science, and I'm gaining work experience along the way!
      .dev-skills
        .picture
        p.
          I'm a skilled developer with experience using a variety of
          different languages. I'm fluent in Python, HTML/CSS, and
          SQL. I also have experience with Javascript, Scala, C,
          and a variety of web frameworks in Python like Django and
          Flask. In my spare time, I'm trying to gain a deep 
          understanding of C and learning Clojure (my first Lisp!)
      .biz-skills
        p.
          That said, I've also got a knack for business. I have 
          the business sense that you might not find with pure
          developers. In school, I've completed a New Venture group
          project, business decision models projects making heavy
          use of economical logic (and Microsoft Excel), financial 
          and managerial accounting, and more!
      footer George Lifchits, 2013
