doctype 5
html(lang='en')
  // hi there, curious person! Thanks for taking a look at the source
  // of my little webpage here. I hope you like it — this website
  // is served by node.js, using jade templating to render the HTML
  // and LESS stylesheets compiled to CSS! I've got the full
  // source on my Github, if you'd like to take a closer look!

  head
    title George Lifchits
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic')
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel="stylesheet")

  body
    if message
      .alert
        div= message
    .container
      .header
        h1 George Lifchits
        h3 A hacker who means business.
      .education
        .picture 
        p.
          I'm a student at Wilfrid Laurier University in Ontario,
          Canada. I'm in the business and computer science double
          degree program, with a co-op option. This means that I 
          hope to graduate with two degrees — a Bachelor of Business
          Administration and a Bachelor's of Science in Computer
          Science — and I'm gaining work experience along the way!
      .dev-skills
        .picture
        p.
          I'm a skilled developer with experience using a variety of
          different languages. I'm fluent in Python, HTML/CSS, and
          SQL. I also have experience with Javascript, Scala, C,
          and a variety of web frameworks in Python like Django and
          Flask. In my spare time, I'm trying to gain a deep 
          understanding of C and learning Clojure.
      .biz-skills
        .picture
        p.
          That said, I've also got a knack for business. I have 
          the business sense that you might not find with pure
          developers. In school, I've completed a New Venture group
          project, business decision models projects making heavy
          use of economical logic (and Microsoft Excel), financial 
          and managerial accounting, and more!
      .contact
        .picture
        p.
          You can connect with me on 
          <a href='http://www.linkedin.com/in/georgelifchits'>Linkedin</a>,
          <a href='https://github.com/glifchits'>Github</a>, 
          <a href='https://www.facebook.com/george.lifchits'>Facebook</a>,
          or just shoot me an email with the form below. I'd
          love to hear just about anything constructive you have to 
          say — whether you're interested in hiring, or you're
          just sharing an interesting article!
        form(action='/mail', method='POST')
          fieldset
            input(type='text', id='email', name='sender', placeholder='your email address', autocomplete='off')
            input(type='text', id='subject', name='subject', placeholder='subject', autocomplete='off')
            textarea(name='message', placeholder='message', autocomplete='off')
            .button
              button(type='submit') Send
      footer George Lifchits, 2013
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
      script(src='/javascripts/jquery.autosize-min.js')
      script(src='/javascripts/glifchits.js') 
