html,
body {
  height: 100%;
  margin: 0;
}
.container {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
.container > div {
  display: block;
  padding: 80px 20%;
  min-height: 100%;
}
.header {
  background-color: #00e68a;
  color: #006f13;
}
.introduction {
  background-color: #008ae6;
  color: #00136f;
}
.education {
  background-color: #c45cc4;
  color: #4d004d;
}
.skills {
  background-color: #ffff7e;
  color: #888807;
}
footer {
  background-color: #c94d4d;
  color: #520000;
  text-align: center;
  padding: 20px;
}
