@darken: #777;
@green: #00E68A;
@blue: #008AE6;
@red: #C94D4D;
@yellow: #FFFF7E;
@purple: #C45CC4;
@orange: #FFAD33;

@top: 100px; // padding on top of the containers
@dim: 100px; // the dimensions of the picture

html, body {
  height: 100%;
  margin: 0;
}

.container {
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  > div {
    display: block;
    @media (max-width: 600px) {
      padding: @top 7%;
    }
    @media (min-width: 601px) and (max-width: 1000px) {
      padding: @top 15%;
    }
    @media (min-width: 1001px) {
      padding: @top 25%;
    }
  }
}

.coloring (@colour) {
  @darkened: (@colour - @darken);
  background-color: @colour;
  color: @darkened;
  //  text-shadow: 0px 1px 1px (@darkened - #222); 
}

.border-radius (@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.picture {
  height: @dim;
  width: @dim;
  background-color: #333;
  position: relative;
  top: -(@top + 0.5 * @dim);
  margin: 0 auto;
  margin-bottom: (-1 * @dim);
  .border-radius(0.5 * @dim);
}

.header {
  .coloring (@green);
}
.education {
  .coloring (@blue);
}
.dev-skills {
  .coloring (@purple);
}
.biz-skills {
  .coloring (@red);
}
.contact {
  .coloring (@orange);
}
footer {
  .coloring (@yellow);
  text-align: center;
  padding: 20px;
}
