@darken: #777;
@green: #00E68A;
@blue: #008AE6;
@red: #C94D4D;
@yellow: #FFFF7E;
@purple: #C45CC4;
@orange: #FFAD33;

@top: 110px; // padding on top of the containers
@dim: 120px; // the dimensions of the picture
@bgsize: 80%;
@font-size: 18px;
@footer-size: (0.75 * @font-size);

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  padding: 0;
  font-size: @font-size;
  line-height: (@font-size * 1.7);
  > div {
    display: block;
    @media (max-width: 600px) {
      padding: @top 7%;
    }
    @media (min-width: 601px) and (max-width: 1000px) {
      padding: @top 15%;
    }
    @media (min-width: 1001px) {
      padding: @top 25%;
    }
  }
}

.coloring (@colour) {
  @darkened: (@colour - @darken);
  background-color: @colour;
  color: @darkened;
  a { 
    text-decoration: none;
    color: (@darkened - #222);
    border-bottom: 1px solid @darkened;
    &:hover {
      border-bottom: 2px solid @darkened;
    }
  }
}

.border-radius (@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

@alert-width: 700px;
.alert {
  display: block;
  float: left;
  position: fixed;
  width: 100%;
  z-index: 100;
  text-align: center;
  min-height: 40px;
  > div {
    margin: 20px auto;
    padding: 10px 30px;
    max-width: @alert-width;
    background-color: rgba(255,255,255,0.8);
    .border-radius(4px);
  }
  .close {
    display: inline-block;
    position: fixed;
    z-index: 101;
    width: @alert-width;
    right: -25px;
  }
  .close:hover {
    color: #222;
  }
}

.picture {
  height: @dim;
  width: @dim;
  position: relative;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: (0.82 * @dim);
  top: -(@top + 0.5 * @dim);
  margin: 0 auto;
  margin-bottom: (-1 * @dim);
  .border-radius(0.5 * @dim);
  border: 3px solid #fff;
}

.header {
  .coloring (@green);
  text-align: center;
  h1 {
    font-size: 50px;
  }
}
.education {
  .coloring (@blue);
  .picture {
    @root: 'https://en.gravatar.com/userimage/26544714/93f2c6b9c0600ccdc069047092fcb792.jpg?size=';
    @url: "@{root}@{dim}"; 
    background-image: url(@url);
    background-size: @dim;
  }
}
.dev-skills {
  .coloring (@purple);
  .picture {
    background-image: url('/images/laptop.png');
  }
}
.biz-skills {
  .coloring (@red);
  .picture {
    background-image: url('/images/business.png');
  }
}
.contact {
  .coloring (@orange);
  .picture {
    background-image: url('/images/contact.png');
  }
  fieldset {
    @form-margin: 6px;
    border: none;
    padding: 0;
    margin: 0;
    input, textarea {
      width: 100%;
      float: left;
      outline: none;
      //background-color: transparent;
      border: none;
      margin: @form-margin 0;
      padding: 9px;
      background-color: (@orange+#999);
    }
    #email {
      color: red; 
    }
    #email.valid {
      color: green;
    }
    textarea {
      resize: none;
      vertical-align: top;
    }
    .button {
      width: 100%;
      text-align: center;
    }
    button {
      background-color: (@orange - #111);
      border: none;
      padding: 10px 50px;
      margin: @form-margin 0;
    }
    button:hover {
      background-color: (@orange - #222);
    }
  }
}
footer {
  .coloring (@yellow);
  text-align: center;
  font-size: @footer-size;
  padding: (0.2 * @top);
}
