.post {
  margin: 10px auto;
  padding: 0 6%;
  max-width: 750px;

  .post-title {
    margin: 1em 0 0.2em;
  }

  .post-content {
    h1 {
      font-weight: bold;
      font-size: 1.4em;
    }
  }
}
