.post-container {
  @include colouring(lighten($blue, 10%));
  padding: 4em 0 !important;
}

.post {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 1.5em;

  .post-title {
    line-height: 1.2em;
  }

  .post-content {
    padding-top: 2em;
    h1 {
      font-weight: bold;
      font-size: 1.3em;
    }
  }

  img {
    width: 80%;
    margin: 5px 10%;
  }
}
