$darken: #777;
$green: #00E68A;
$blue: #008AE6;
$red: #C94D4D;
$yellow: #FFFF7E;
$purple: #C45CC4;
$orange: #FFAD33;

$top: 4em; // padding on top of the containers
$dim: 6em; // the dimensions of the picture
$bgsize: 80%;
$font-size: 18px;
$footer-size: (0.75 * $font-size);

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/* mobile form elements reset */
input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}


/* media query default values */
#navbar {
  top: 0;
  margin-top: round($top/2);
  margin-left: round($top/2);
}

$small: 700px;
$medium: 1000px;
$large: 1700px;

@media (max-width: $small) {
  #navbar {
    display: none;
  }
  .container {
    > section, > header {
      padding: $top 7%;
      text-align: left;
    }
  }
}
@media (min-width: ($small+1)) and (max-width: $medium) {
  #navbar {
    font-size: 14px;
    margin-top: round($top/7);
    margin-left: 0;
    width: 60px;
  }
  .container {
    > section, > header {
      padding: $top 15%;
    }
  }
}
@media (min-width: ($medium+1)) and (max-width: $large) {
  // uses navbar default
  .container {
    > section, > header {
      padding: $top 25%;
    }
  }
}
@media (min-width: ($large+1)) {
  // uses navbar default
  .container {
    > section, > header {
      padding: $top 30%;
    }
  }
}

/* container > div is a "content block". The media queries
here define the padding size which affects the size of
the content blocks */
.container {
  padding: 0;
  font-size: $font-size;
  line-height: round($font-size * 1.7);
  text-align: justify;
  > div, > header {
    display: block;
  }
}

@mixin colouring($colour) {
  $darkened: ($colour - $darken);
  background-color: $colour;
  color: $darkened;
  a {
    text-decoration: none;
    color: ($darkened - #222);
    border-bottom: 1px solid $darkened;
    &:hover {
      border-bottom: 2px solid $darkened;
  }
}
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

#navbar {
  position: fixed;
  z-index: 1;
  ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    a {
      text-decoration: none;
    }
    li {
      box-sizing: border-box;
      display: block;
      padding: 10px 15px;
      color: black;
      opacity: 0.7;
      border-left: 0px solid black;
      transition: border-left 0.2s;
      &:hover, &:focus {
        cursor: pointer;
        border-left: 6px solid black;
      }
    }
  }
}

.picture {
  height: $dim;
  width: $dim;
  position: relative;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: (0.82 * $dim);
  top: -($top + 0.5 * $dim);
  margin: 0 auto;
  margin-bottom: (-1 * $dim);
  @include border-radius(50%);
  border: 3px solid #fff;
}

header {
  @include colouring($green);
  text-align: center !important;
  h1 {
    font-size: 50px;
    line-height: 50px;
    &, h3 {
      font-weight: bold;
    }
  }
}

#blog {
  @include colouring($blue);
  .picture {
    // the s= defines the size of the image requested
    $url: 'https://en.gravatar.com/avatar/99167ac3f433a7560367cb432109871d?s=200px';
    background-image: url($url);
    background-size: $dim;
  }
}

#education {
  @include colouring($purple);
  .picture {
    background-image: url('../images/laptop.png');
    background-size: $dim;
  }
}

#dev-skills {
  @include colouring($red);
  .picture {
    background-image: url('../images/laptop.png');
  }
}

#biz-skills {
  @include colouring($orange);
  .picture {
    background-image: url('../images/business.png');
  }
}

#resume {
  @include colouring($yellow);
  .picture {
    background-image: url('../images/pencil.png');
    background-size: 22%;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  a.resume {
    border: none;
    img {
      width: 100%;
    }
  }
}

#contact {
  @include colouring($green);
  .picture {
    background-image: url('../images/contact.png');
  }
  ul {
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    padding-right: 0.3em;
  }
  i.fa {
    width: 20px;
    padding-right: 0.2em;
  }
}

footer {
  @include colouring(#fff);
  text-align: center;
  font-size: $footer-size;
  padding: (0.2 * $top);
}
