html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
/* mobile form elements reset */
input,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
/* media query default values */
#navbar {
  margin-top: 2em;
  margin-left: 2em;
}
@media (max-width: 700px) {
  #navbar {
    display: none;
  }
  .container > section,
  .container > header {
    padding: 4em 7%;
    text-align: left;
  }
}
@media (min-width: 701px) and (max-width: 1000px) {
  #navbar {
    font-size: 14px;
    margin-top: 0.6em;
    margin-left: 0;
    width: 60px;
  }
  .container > section,
  .container > header {
    padding: 4em 15%;
  }
}
@media (min-width: 1001px) and (max-width: 1700px) {
  .container > section,
  .container > header {
    padding: 4em 25%;
  }
}
@media (min-width: 1701px) {
  .container > section,
  .container > header {
    padding: 4em 30%;
  }
}
/* container > div is a "content block". The media queries
here define the padding size which affects the size of
the content blocks */
.container {
  padding: 0;
  font-size: 18px;
  line-height: 30.6px;
  text-align: justify;
}
.container > div,
.container > header {
  display: block;
}
#navbar {
  position: fixed;
  z-index: 1;
}
#navbar ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
#navbar ul a {
  text-decoration: none;
}
#navbar ul li {
  box-sizing: border-box;
  display: block;
  padding: 10px 15px;
  color: black;
  opacity: 0.7;
  border-left: 0px solid black;
  transition: border-left 0.2s;
}
#navbar ul li:hover,
#navbar ul li:focus {
  cursor: pointer;
  border-left: 6px solid black;
}
.alert {
  display: none;
  position: fixed;
  left: 50%;
  margin-top: 20px;
  z-index: 2;
}
.alert .content {
  position: relative;
  left: -50%;
  padding: 10px;
  padding-left: 30px;
  -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.alert .content .close {
  float: right;
  color: #777;
  background: none;
  border: none;
  line-height: 0;
}
.alert .content .close:hover {
  color: #222;
}
.picture {
  height: 6em;
  width: 6em;
  position: relative;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4.92em;
  top: -7em;
  margin: 0 auto;
  margin-bottom: -6em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #fff;
}
header {
  background-color: #00e68a;
  color: #006f13;
  text-align: center !important;
}
header a {
  text-decoration: none;
  color: #004d00;
  border-bottom: 1px solid #006f13;
}
header a:hover {
  border-bottom: 2px solid #006f13;
}
header h1 {
  font-size: 50px;
  line-height: 50px;
}
#education {
  background-color: #008ae6;
  color: #00136f;
}
#education a {
  text-decoration: none;
  color: #00004d;
  border-bottom: 1px solid #00136f;
}
#education a:hover {
  border-bottom: 2px solid #00136f;
}
#education .picture {
  background-image: url("https://en.gravatar.com/avatar/99167ac3f433a7560367cb432109871d?s=200px");
  background-size: 6em;
}
#dev-skills {
  background-color: #c45cc4;
  color: #4d004d;
}
#dev-skills a {
  text-decoration: none;
  color: #2b002b;
  border-bottom: 1px solid #4d004d;
}
#dev-skills a:hover {
  border-bottom: 2px solid #4d004d;
}
#dev-skills .picture {
  background-image: url('../images/laptop.png');
}
#biz-skills {
  background-color: #c94d4d;
  color: #520000;
}
#biz-skills a {
  text-decoration: none;
  color: #300000;
  border-bottom: 1px solid #520000;
}
#biz-skills a:hover {
  border-bottom: 2px solid #520000;
}
#biz-skills .picture {
  background-image: url('../images/business.png');
}
#resume {
  background-color: #ffad33;
  color: #883600;
}
#resume a {
  text-decoration: none;
  color: #661400;
  border-bottom: 1px solid #883600;
}
#resume a:hover {
  border-bottom: 2px solid #883600;
}
#resume .picture {
  background-image: url('../images/pencil.png');
  background-size: 22%;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#resume a.resume {
  border: none;
}
#resume a.resume img {
  width: 100%;
}
#contact {
  background-color: #ffff7e;
  color: #888807;
}
#contact a {
  text-decoration: none;
  color: #666600;
  border-bottom: 1px solid #888807;
}
#contact a:hover {
  border-bottom: 2px solid #888807;
}
#contact .picture {
  background-image: url('../images/contact.png');
}
#contact ul {
  padding: 0;
  list-style: none;
}
#contact li {
  display: inline-block;
  padding-right: 0.3em;
}
#contact i.fa {
  width: 20px;
  padding-right: 0.2em;
}
footer {
  background-color: #ffffff;
  color: #888888;
  text-align: center;
  font-size: 13.5px;
  padding: 0.8em;
}
footer a {
  text-decoration: none;
  color: #666666;
  border-bottom: 1px solid #888888;
}
footer a:hover {
  border-bottom: 2px solid #888888;
}
